body {
  font-family: "Montserrat", sans-serif;
}
.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.quote {
  padding-top: 100px;
  padding-left: 200px;
  padding-right: 200px;
  font-size: 26px;
}
.character {
  padding-left: 218px;
  padding-right: 218px;
  font-size: 20px;
}

.yellow {
  background-color: #fdfa57;
}

.blue {
  background-color: #037dc4;
}

.image {
  width: 300px;
  height: 451px;
  object-fit: contain;
}

.left,
.right {
  display: flex;
  flex-direction: column;
}

.left .image {
  margin-left: 200px;
  align-self: flex-start;
}

.right .image {
  margin-right: 200px;
  align-self: flex-end;
}

.left p {
  color: #fdfa57;
}

.right p {
  color: #037dc4;
}

@media screen and (max-width: 500px) {
  .quote {
    padding: 0px;
    margin-top: 5rem;
  }

  .character {
    padding: 0px;
  }

  .image {
    align-self: flex-end;
    margin: 0px;
    width: 150px;
    height: 150px;
    object-fit: contain;
  }
}

@media screen and (max-width: 800px) {
    .quote {
      padding: 0px;
      margin-top: 5rem;
    }
  
    .character {
      padding: 0px;
    }
  
    .image {
      align-self: flex-end;
      margin: 0px;
      width: 150px;
      height: 150px;
      object-fit: contain;
    }
  }
  
